
node_modules/


dist/
build/

npm-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

package-lock.json
yarn.lock
pnpm-lock.yaml

.env
.env.local
.env.development
.env.production
.env.test

.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db